footer
  .container.text-center
    p.pull-left © 2016 Harold Martinez All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/zumicts') GitHub
      li
        a(href='https://twitter.com/zumicts') Twitter
